<h1><%= @institution.institution_name %> (<%= @institution.institution_code %>)</h1>
<h2>Collections</h2>
<table>
	<thead>
		<tr>
			<th>Collection</th>
		 	<th>Code</th>
		 	<th>Records</th>
		</tr>
	</thead>
	<tbody>
		<% if @institution.source_collections.size == 0 %>
			<tr>
				<td colspan="3">No collections uploaded for this institution</td>
			</tr>
		<% else %>
			<% @institution.source_collections.each do |coll| %>
				<tr>
					<td><%= link_to coll.collection_id, coll %></td>
					<td><%= coll.collection_code %></td>
					<td><%= coll.collection_objects.size %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>