<h1>Collections</h1>
<table>
	<thead>
		<tr>
			<th>Institution</th>
			<th>Code</th>
			<th>Collection</th>
		 	<th>Code</th>
		 	<th>Records</th>
		</tr>
	</thead>
	<tbody>
		<% if @collections.size == 0 %>
			<tr>
				<td colspan="5">No records uploaded</td>
			</tr>
		<% else %>
			<% @collections.each do |coll| %>
				<tr>
					<td><%= coll.institution_id %></td>
					<td><%= coll.institution_code %></td>
					<td><%= link_to coll.collection_id, coll %></td>
					<td><%= coll.collection_code %></td>
					<td><%= coll.collection_objects.size %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>