<%= tag.section id: section, class: 'detail-section' do %>
  <% if record_details.length > 2 %>
    <a href="javascript:void(0)" class="section-expander section-hidden">
      <dl>
        <dt>
          <%= section.humanize %>
        </dt>
        <dd>
          <% if record_details[:dwc_genus] %>
            <%= tag.i section_header(section, record_details) %>
          <% else %>
            <%= section_header(section, record_details) %>
          <% end %>
        </dd>
      </dl>
    </a>
  <% end %>
  <dl class="section-content">
    <% tidy_up(record_details).each do |label, name| %>
      <dt><%= term(label).humanize %></dt>
      <dd>
        <% if italicize?(label, record_details[:dwc_genus]) %>
          <%= tag.i name %>
        <% else %>
          <%= name %>
        <% end %>
      </dd>
      <p/>
    <% end %>
  </dl>

  <% if leaflet == true %>
    <div id="map">
      <%= map(center: {
        latlng: [record_details[:dwc_decimal_latitude], record_details[:dwc_decimal_longitude]],
        zoom: 12 },
        markers: [
        { latlng: [record_details[:dwc_decimal_latitude], record_details[:dwc_decimal_longitude]] }
      ]) %>
    </div>
    </p>
  <% end %>
<% end %>
