<%= tag.section id: section, class: 'detail-section' do %>
  <% if record_details.length > 2 %>
    <a href="javascript:void(0)" class="section-expander section-hidden">
      <span class="section-name">
        <%= section.humanize %>
      </span>
      <span class="section-value">
        <% if record_details[:dwc_genus] %>
          <%= tag.i section_header(section, record_details) %>
        <% else %>
          <%= section_header(section, record_details) %>
        <% end %>
      </span>
    </a>
  <% end %>
  <dl class="section-content">
    <% strip(record_details).each do |label, name| %>
      <dt><%= term(label).humanize %></dt>
      <dd>
        <% if italicize?(label, record_details[:dwc_genus]) %>
          <%= tag.i name %>
        <% else %>
          <%= name.is_a?(Time) ? name.to_date : name %>
        <% end %>
      </dd>
      <p/>
    <% end %>
  </dl>

  <% if leaflet == true %>
    <div id="map">
      <%= map(center: {
        latlng: [record_details[:dwc_decimal_latitude], record_details[:dwc_decimal_longitude]],
        zoom: 12 },
        markers: [
        { latlng: [record_details[:dwc_decimal_latitude], record_details[:dwc_decimal_longitude]] }
      ]) %>
    </div>
    </p>
  <% end %>
<% end %>
