<%= tag.section id: header, class: 'detail-section' do %>
  <% if section.length > 2 %>
    <a href="javascript:void(0)" class="section-expander section-hidden">
      <span class="section-name">
        <%= header.humanize %>
      </span>
      <span class="section-value">
        <% if section[:genus] %>
          <%= tag.i section_header(header, section) %>
        <% else %>
          <%= section_header(header, section) %>
        <% end %>
      </span>
    </a>
  <% end %>
  <dl class="section-content">
    <% strip(section).each do |label, name| %>
      <dt><%= label.humanize %></dt>
      <dd>
        <% if italicize?(label, section[:genus]) %>
          <%= tag.i name %>
        <% else %>
          <%= name.is_a?(Time) ? name.to_date : name %>
        <% end %>
      </dd>
      <p/>
    <% end %>
  </dl>

  <% if leaflet == true %>
    <div id="map">
      <script>
        var mymap = L.map('map').setView(<%= [section[:latitude], section[:longitude]] %>, 12);
        L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org/">SRTM</a> | Map style © <a href="https://opentopomap.org/">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
          maxZoom: 18
        }).addTo(mymap);
        var marker = L.marker(<%= [section[:latitude], section[:longitude]] %>).addTo(mymap);
      </script>
    </div>
    </p>
  <% end %>
<% end %>
