<%= tag.section id: header, class: 'detail-section' do %>
  <% if section.length > 2 %>
    <a href="javascript:void(0)" class="section-expander section-hidden">
      <span class="section-name">
        <%= header.humanize %>
      </span>
      <span class="section-value">
        <% if section[:genus] %>
          <%= tag.i section_header(header, section) %>
        <% else %>
          <%= section_header(header, section) %>
        <% end %>
      </span>
    </a>
  <% end %>
  <dl class="section-content">
    <% strip(section).each do |label, name| %>
      <dt><%= label.humanize %></dt>
      <dd>
        <% if italicize?(label, section[:genus]) %>
          <%= tag.i name %>
        <% else %>
          <%= name.is_a?(Time) ? name.to_date : name %>
        <% end %>
      </dd>
      <p/>
    <% end %>
  </dl>

  <% if leaflet == true %>
    <div id="map">
      <%= map(center: {
        latlng: [section[:latitude], section[:longitude]],
        zoom: 12 },
        markers: [
        { latlng: [section[:latitude], section[:longitude]] }
      ]) %>
    </div>
    </p>
  <% end %>
<% end %>
