<div class="content-box">
  <%= background_image %>

  <header class="content-header">
    <div class="header-container">
      <div class="header-content">
        <h1>Collection Objects</h1>
      </div>
    </div>
  </header>

  <div class="main-content">
    <table>
      <thead>
        <tr>
          <th>Catalog Number</th>
          <th>Type Status</th>
          <th>Scientific Name</th>
          <th>Higher Geography</th>
        </tr>
      </thead>
      <tbody>
        <% @collection_objects.each do |co| %>
          <tr>
            <td><%= link_to co.dwc_catalog_number, co %></td>
            <td><%= co.dwc_identification&.dwc_type_status %></td>
            <td>
              <% if co.dwc_taxon&.dwc_genus %>
                <%= tag.i co.dwc_taxon.dwc_scientific_name %>
              <% else %>
                <%= co.dwc_taxon&.dwc_scientific_name %>
              <% end %>
            <%= '</i>'.html_safe if co.dwc_taxon&.dwc_genus %>
            </td>
            <td>
              <%= co.dwc_location.dwc_locality if co.dwc_location %>
              <%= ", " if co.dwc_location&.dwc_locality && co.dwc_location&.dwc_higher_geography %>
              <%= co.dwc_location.dwc_higher_geography if co.dwc_location %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <footer class="content-footer">
    <div class="pagination-container">
      <%= paginate @collection_objects %>
    </div>
  </footer>
</div>
