<article>
  <h2>
		<%= link_to @collection_object.source_collection
																		.dwc_collection_id,
						@collection_object.source_collection
			%> (<%= @collection_object.source_collection.dwc_collection_code %>)
	</h2>
	<h1><%= @collection_object.dwc_catalog_number %></h1>
	<div id="other_catalog_numbers">
	  <%= render partial: 'other_catalog_number', collection: @collection_object.other_catalog_numbers %>
	</div>

	<div>
	  <dl>
	    <% tidy_up(@collection_object.attributes).each do |label, name| %>
		    <dt><%= term(label).humanize %></dt><dd><%= name %></dd>
		    <p/>
	    <% end %>
    </dl>

    <% footer = @record_details.pop %>
    <% display_order(@record_details).each do |rd| %>
      <%= render partial: 'record_details', locals: rd %>
    <% end %>
    <%= render partial: 'footer', locals: footer %>
	</div>
</article>
