<article class="content-box">

<%= background_image(@source_collection.dwc_collection_id) %>
  <header class="content-header">
    <div class="header-content">
      <h1><%= @catalog_number %></h1>
      <%= link_to @source_collection.dwc_collection_id, @source_collection %>
    </div>
  </header>

	<div class="main-content">
    <div id="other_catalog_numbers">
      <%= render partial: 'other_catalog_number', collection: @other_catalog_numbers %>
    </div>

	  <dl>
	    <% strip(@document).each do |label, name| %>
		    <dt><%= term(label).humanize %></dt><dd><%= name %></dd>
		    <p/>
	    <% end %>
    </dl>

    <% display_order(@sections).each do |section| %>
      <%= render partial: 'sections', locals: section %>
    <% end %>
	</div>

  <footer class="content-footer">
    <dl class="footer-content metadata">
      <% strip(@metadata).each do |label, name| %>
        <dt><%= term(label).humanize %></dt>
        <dd><%= name %></dd>
        <p/>
      <% end %>
    </dl>
  </footer>
</article>
