<h1><%= @collection_object.catalog_number %></h1>
<h2>
	<%= link_to @collection_object.source_collection
																	.source_institution
																	.institution_name,
					@collection_object.source_collection
														.source_institution
		%> (<%= @collection_object.source_collection
															.source_institution
															.institution_code %>)
</h2>
<h3>
	<%= link_to @collection_object.source_collection
																	.collection_id,
					@collection_object.source_collection
		%> (<%= @collection_object.source_collection.collection_code %>)
</h3>
<div>
  <h3><%= link_to @collection_object.taxon_name.scientific_name, @collection_object.taxon_name %></h3>
  <ul>
    <% @taxonomy.each do |rank, name| %>
    	<li><%= rank %>: <%= name %></li>
    <% end %>
  </ul>
</div>
<table>
	<tbody>
		<% @collection_object.attributes.each do |field| %>
			<tr>
				<td><%= field.first %></td>
				<td><%= field.last %></td>
			</tr>
		<% end %>
	</tbody>
</table>