<div class="detail-layout">
	<h1><%= @collection_object.catalog_number %></h1>
	<h2>
		<%= link_to @collection_object.source_collection
																		.collection_id,
						@collection_object.source_collection
			%> (<%= @collection_object.source_collection.collection_code %>)
	</h2>
	
	<div class="detail-layout__main">
		<table>
			<tbody>
				<% @collection_object.attributes
														 .reject { |_k, v| v.is_a? BSON::ObjectId }
														 .delete_if { |_k, v| v.blank? }
														 .each do |field| %>
					<tr>
						<td><%= field.first.humanize %></td>
						<td><%= field.last %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<div class="detail-layout__sidebar">
		<div class="info-grid">
			<div class="info-grid__item">
				<%= link_to @taxon.scientific_name, @collection_object.taxon %>
				<%= render partial: 'taxons/taxon' %>
			</div>
			
			<div class="info-grid__item">
				<%= link_to "#{@location.locality}, #{@location.higher_geography}",
						@collection_object.location %>
				<%= render partial: 'locations/location' %>
			</div>
		</div>
	</div>
</div>
