<article class="content-box">
      <%= tag.style do %>
        .content-box { background-image: url(<%= asset_path background_image(@source_collection.dwc_collection_id) %>);
                       background-size: cover;
                       background-repeat: no-repeat; }
      <% end %>

  <header class="content-header">
    <div class="header-content">
      <h1><%= @catalog_number %></h1>
      <%= link_to @source_collection.dwc_collection_id, @source_collection %>
    </div>
  </header>

	<div class="main-content">
    <div id="other_catalog_numbers">
      <%= render partial: 'other_catalog_number', collection: @other_catalog_numbers %>
    </div>

	  <dl>
	    <% strip(@co).each do |label, name| %>
		    <dt><%= term(label).humanize %></dt><dd><%= name %></dd>
		    <p/>
	    <% end %>
    </dl>

    <% display_order(@record_details).each do |rd| %>
      <%= render partial: 'record_details', locals: rd %>
    <% end %>
	</div>

  <footer class="content-footer">
    <dl class="footer-content metadata">
      <% strip(@metadata).each do |label, name| %>
        <dt><%= term(label).humanize %></dt>
        <dd><%= name %></dd>
        <p/>
      <% end %>
    </dl>
  </footer>
</article>
