<article>
  <h2>
		<%= link_to @collection_object.source_collection
																		.dwc_collection_id,
						@collection_object.source_collection
			%> (<%= @collection_object.source_collection.dwc_collection_code %>)
	</h2>
	<h1><%= @collection_object.dwc_catalog_number %></h1>
	<div id="other_catalog_numbers">
	  <%= render partial: 'other_catalog_number', collection: @collection_object.other_catalog_numbers %>
	</div>

	<div>
	  <dl>
	    <% tidy_up(@collection_object.attributes).each do |label, name| %>
		    <dt><%= term(label).humanize %></dt><dd><%= name %></dd>
		    <p/>
	    <% end %>
    </dl>

	  <%= render partial: 'dwc_taxon' if @dwc_taxon %>
		<%= render partial: 'dwc_identification'if @dwc_identification %>
    <%= render partial: 'dwc_geological_context' if @dwc_geological_context %>
		<%= render partial: 'dwc_location' if @dwc_location %>
		<%= render partial: 'dwc_event' if @dwc_event %>
		<%= render partial: 'dwc_organism' if @dwc_organism %>
		<%= render partial: 'record_metadata' %>
	</div>
</article>
