<header class="page-header">
  <div class="container">
    <nav role="navigation">
      <ul class="navigation-menu show">
        <li class="header-column nav-link"><%= link_to 'Natural History Museum of Denmark', 'http://snm.ku.dk' %></li>
        <li class="header-column nav-link more" id="submenu-toggle"><%= link_to 'Collections', 'javascript:void(0)' %>
          <ul class="submenu" id="submenu-content">
            <% all_collections.each do |coll| %>
              <%= tag.li(link_to(coll.dwc_collection_id, coll)) %>
            <% end %>
          </ul>
        </li>
        <li class="header-column">
          <%= form_tag collection_objects_path, method: :get, class: 'quicksearch' do %>
            <%= search_field_tag :query, params[:query], placeholder: 'search', autocomplete: :off  %>
            <%= image_submit_tag('search') %>
          <% end %>
        </li>
      </ul>
    </nav>
	</div>
  <div class="breadcrumb">
    <%= link_to 'University of Copenhagen', 'http://www.ku.dk' %>
    <%= link_to 'Natural History Museum of Denmark', 'http://snm.ku.dk' %>
    <%= link_to 'Collections', 'http://snm.ku.dk/english/samlinger/' %>
    <%= link_to 'Collections Data', root_path %>
    <% breadcrumbs.each do |path| %>
      <%= link_to *path %>
    <% end %>
  </div>
</header>
