<header>
	<nav>
		<ul>
		  <li class="header__navbar"><%= link_to 'Natural History Museum of Denmark', 'http://snm.ku.dk' %></li>
			<li class="header__navbar"><%= link_to 'collections', source_collections_path %></li>
		</ul>
	  <%= form_tag collection_objects_path, method: :get, class: 'header__quicksearch' do %>
      <%= text_field_tag :query, params[:query], onkeyup: 'showResult(this.value)', class: 'form-control' %>
      <%= submit_tag 'Search' %>
    <% end %>
	</nav>
</header>